<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dky.eureka.persistence.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.dky.eureka.domain.user.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userCode" jdbcType="VARCHAR" property="usercode" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
  </resultMap>

  <select id="findByKey" resultMap="BaseResultMap">
        SELECT * FROM sys_user WHERE id = #{id}
    </select>

  <select id="findAll" resultType="com.dky.eureka.domain.user.entity.User">
        SELECT * FROM sys_user
    </select>

</mapper>